[submodule "dotfiles/vim/bundle/template.vim"]
	path = dotfiles/vim/bundle/template.vim
	url = git://github.com/vim-scripts/template.vim
[submodule "dotfiles/vim/bundle/vimproc"]
	path = dotfiles/vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc
[submodule "dotfiles/vim/bundle/ghcmod-vim"]
	path = dotfiles/vim/bundle/ghcmod-vim
	url = git://github.com/eagletmt/ghcmod-vim
[submodule "dotfiles/vim/bundle/vim-hoogle"]
	path = dotfiles/vim/bundle/vim-hoogle
	url = git://github.com/Twinside/vim-hoogle
[submodule "dotfiles/vim/bundle/haskell.vim"]
	path = dotfiles/vim/bundle/haskell.vim
	url = git://github.com/vim-scripts/haskell.vim
[submodule "dotfiles/vim/bundle/vim-puppet"]
	path = dotfiles/vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet
[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "dotfiles/vim/bundle/vim-pathogen"]
	path = dotfiles/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/vim/bundle/neocomplcache"]
	path = dotfiles/vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "dotfiles/vim/bundle/vimshell"]
	path = dotfiles/vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "dotfiles/vim/bundle/neco-ghc"]
	path = dotfiles/vim/bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
[submodule "dotfiles/vim/bundle/delimitMate"]
	path = dotfiles/vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "dotfiles/vim/bundle/xptemplate"]
	path = dotfiles/vim/bundle/xptemplate
	url = git://github.com/drmingdrmer/xptemplate.git
[submodule "dotfiles/vim/bundle/easymotion"]
	path = dotfiles/vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "dotfiles/vim/bundle/command-t"]
	path = dotfiles/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "dotfiles/vim/bundle/vim-unimpaired"]
	path = dotfiles/vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "dotfiles/vim/bundle/vim-sensible"]
	path = dotfiles/vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
