[submodule "dotfiles/vim/bundle/vim-hoogle"]
	path = dotfiles/vim/bundle/vim-hoogle
	url = https://github.com/Twinside/vim-hoogle
[submodule "dotfiles/vim/bundle/haskell.vim"]
	path = dotfiles/vim/bundle/haskell.vim
	url = https://github.com/vim-scripts/haskell.vim
[submodule "dotfiles/vim/bundle/neco-ghc"]
	path = dotfiles/vim/bundle/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule "dotfiles/vim/bundle/ack.vim"]
	path = dotfiles/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "dotfiles/vim/bundle/vim-airline"]
	path = dotfiles/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dotfiles/tmux/plugins/tmux-sensible"]
	path = dotfiles/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "dotfiles/tmux/plugins/tmux-pain-control"]
	path = dotfiles/tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
